@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
    --font-base: "DM Sans", sans-serif;

    --primary-color: #C3B1E1;
    --fill-color: #edf2f8;
    --secondary-color: #672976;
    --pastelblack-color: #1D1C1A;
    --pastelbrown-color: #B1907F;
    --lightGray-color: #e4e4e4;
    --gray-color: #6b7688;
    --white-color: #ffffff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}